@page
@{
    ViewData["Title"] = "Introduction";
}


<h3>Shubham Dhamane</h3>
<form>
    <input type="number" />
    <input type="number" />
    <output></output>
    <input type="submit" value="Calculate" />
    <button type="submit">Calculate</button>

</form>
