@page
@{
    ViewData["Title"] = "Introduction";

}

<h1>@ViewData["Title"]</h1>

@section Description{
    <header>Description</header>
    <p>This is newly created section and will be present in intro only. In this page you will find my name in h3 and 2 inputs,
    1 output and button</p>
}

<h3>Shubham Dhamane</h3>
<form>
    <input type="number" /><br />
    <input type="number" /><br />
    <output></output><br />
    <button type="submit">Calculate</button>
</form>